html, body {
    background-color: #eee;
}

h1 {
	font-weight: bold;
	margin-bottom: -15px;
}

h2 {
  text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

p {
	font-size: 16px;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
  margin-bottom: 24px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

ul {
  display: inline-block;
  text-align: left;
  line-height: 200%;
}

p small {
    color: grey;
    font-size: 12px;
}

#copyright {
  display: inline-block;
  position: relative;
  text-align: left;
  padding-top: 20px;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  /*background-color: white;*/
}

@media (min-width: 480px) { 
  .center-div {
    width: 900px;
  }

  /*.column {
    -webkit-columns: 350px 2;
       -moz-columns: 350px 2;
            columns: 350px 2;
    -webkit-column-gap: 10em;
       -moz-column-gap: 10em;
            column-gap: 10em;        
  }*/
}